<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splitwise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splitwise">
        <activity android:name=".room_database_files.PrivacyPolicyActivity"></activity>
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".ViewPagerIntroActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Splitwise_HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TermaOfService" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ContactsListActivity" />
        <activity android:name=".AddIconActivity" />
        <activity android:name=".LogInAndSignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".room_database_files.Add_Friends_to_Database_Activity" />
        <activity android:name=".ContactsListActivityJava" />
    </application>

</manifest>